
@{
    ViewBag.Title = "Consulting";
}

<div>
    <img id="image-dna" src="~/Content/Images/spectrial_banner_consulting.png" />
</div>
<div class="container body-content">
    <h2>@ViewBag.Title</h2>
        <p>
            SPECTRIAL was founded with the goal to collaborate and share expertise and knowledge with biotech, start-up, pharmaceutical, diagnostic, companies and CROs to accelerate the development and marketing of healthcare products and improve patients’ lives.
            SPECTRIAL has brought together what belongs together: medical-need and market-minded thinking. Thus we utilize one unified multidisciplinary approach which can identify, extract, analyze, and integrate all types of business-relevant information for our customers. And further take the next step - find integrated solutions with a new point of view aligning and cross associating knowledge from completely different areas. We do it with integrity, respect for quality, and strive for excellence. 
            Our special sympathies are with smaller and emerging companies and their incredible creativity.
            If you are seeking strategic solutions or expert advice on challenges you may be facing from limited resources, lack of therapeutic in-depth knowledge or other we would be delighted to help so that you can focus on your priorities.
        </p>
</div>
