
@{
    ViewBag.Title = "Privacy policy";
}

<div class="container body-content">
    <br />
    <br />
    <h2>@ViewBag.Title.</h2>
    <p class= "col-md-12">
        Privacy Policy
        Thank you for visiting the SPECTRIAL  website or interacting with us via e-mail.
        We understand that protecting the privacy of visitors to our website is very important and that information about you is particularly sensitive
        You can visit our website without providing any personal information. We may collect your personally identifiable information (such as name, address, telephone number, e-mail address or other identifying information) only when you choose to submit it. We do not share any of your personally identifiable information with third parties for their own marketing use unless you explicitly give us permission to do so.
        We may also collect information about your computer operating system and browser type, for system administration. This is statistical data about our users’ browsing actions and patterns, and does not identify any individual.
        Security

        SPECTRIAL uses technology and security precautions, rules and other procedures to protect your personal data from unauthorized access, improper use, disclosure, loss or destruction. It is, however, your personal responsibility to ensure that the computer you are using is adequately secured and protected against malicious software, such as trojans, computer viruses and worm programs. You are aware of the fact that without adequate security measures (e.g. secure web browser configuration, up-to-date antivirus software, personal firewall software, no usage of software from dubious sources) there is a risk that the data and passwords you use to protect access to your data, could be disclosed to unauthorized third parties.
        Limitations of liability
        SPECTRIAL OOD makes every effort to ensure that the information made available on the Site is accurate and up to date and reserves the right to change the content at any time without prior notice. Nonetheless, SPECTRIAL OOD does not provide any guarantee or warranty as to the accuracy, precision or comprehensiveness of such information, nor does it guarantee or warrant that the information is up to date.
        With the exception of direct damage resulting from willful misconduct or gross negligence by SPECTRIAL OOD, SPECTRIAL OOD is not liable for:
        any imprecision, inaccuracy or omission in the information made available on the Site;
        any damage resulting from fraudulent intrusion by a third party leading to the modification of the information or materials made available on the Site;
        any direct, indirect or consequential loss or damage incurred in connection with the Site, irrespective of whether SPECTRIAL OOD was aware of the possibility of such loss or damage, and whether as a result of a)access or inability to access the Site; b) use of the Site, including any damage caused by a distributed denial of service attack, viruses or other technologically harmful material which may have infected your computer system or any other product; and/or c) reliance on any information provided directly or indirectly by the Site
        The information and materials made available on the Site are provided for information purposes only, without any kind of warranty, whether express or implied.
    </p>
</div>