
@{
    ViewBag.Title = "Security";
}

<div class="container body-content">
    <br />
    <br />
    <h2>@ViewBag.Title.</h2>
    <p class="col-md-12">
        Working with SPECTRIAL, you will be guaranteed professionalism and integrity. Personal trust and long-term  customer relationships are critical to our business understanding.
        We have as our customers life science companies. Due to our strict confidentiality agreements usually we are not allowed to disclose even the existence of these consulting relationship.
        We do not use outsourced cloud services for customer data unless the customer instruct us so. All our working data and backups are stored locally. Long-term backups are stored in duplicate.
        The information and materials made available on the Site are provided for information purposes only, without any kind of warranty, whether express or implied.
    </p>
</div>

