@{
    ViewBag.Title = "WHO WE ARE";
}

<div>
    <img id="image-dna" src="/Content/Images/trial-process.png" />
</div>

<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <p>SPECTRIAL was founded year 2001 and continues to be managed from Sofia, Bulgaria - a country with a track record of excellent relations with the East as well as with the West. We are in the perfect location to serve European, Middle East and Asian customers. Our core team, together with our consulting partners enables us to deliver world-class expertise across a range of therapeutic areas and disciplines.
SPECTRIAL’S unique approach is designed to integrate local insights and global strategy to help clients achieve their goals in a timely, cost-effective manner. We have accumulated a vast amount of expertise and diverse knowledge of the processes that drive the healthcare business. We focus on product development, market access and reimbursement, strategic planning, and market intelligence. Our experience includes companies like Pfizer and Sanofi but is not limited only  to pharmaceuticals but also to medical technologies and devices, diagnostics/ Roche and clinical trials/ Quintiles.
It is this “multinational” experience of our team that ensures our international partners can expect a professional approach and stable business relationship working with us. We rely on exceptional communication skills to develop strong and enduring working partnerships to achieve the agreed goals whilst ensuring compliance with all industry requirements and standards.
</p>
</div>